Flask==3.1.0
tensorflow-gpu==2.10.1
keras==2.10.0
tensorflow-estimator==2.10.0
tensorboard==2.10.1
protobuf==3.19.0
scikit-learn==1.6.0
pandas==2.2.3
seaborn==0.13.2
matplotlib==3.9.4
opencv-python==4.10.0.84
pillow==11.0.0
